In [1]:
# Import pandas using Python 3.11.9 interpreter
import pandas as pd
import yfinance as yf
import datetime as dt

In [2]:
assets = ['NVDA', 'GME', 'TSLA', 'ACLS']
benchmarks = ['SPY']

benchmarks = [asset.upper() for asset in benchmarks]
assets = [asset.upper() for asset in assets]

tickers = assets + benchmarks
startdate = '2019-09-18'

In [3]:
data = yf.download(tickers, start = startdate)['Adj Close']

# Empty Array to store new data
assets2 = []

# For whatever is in assets, append it into the empty array asset2
for asset in assets:
    assets2.append(asset.upper())

[*********************100%***********************]  5 of 5 completed

In [4]:
assets2

['NVDA', 'GME', 'TSLA', 'ACLS']

In [5]:
data[assets]

Ticker                           NVDA      GME        TSLA        ACLS
Date
2019-09-18 00:00:00+00:00    4.477720   1.1500   16.232668   18.370001
2019-09-19 00:00:00+00:00    4.402088   1.1100   16.440001   18.160000
2019-09-20 00:00:00+00:00    4.296352   1.1750   16.041332   18.219999
2019-09-23 00:00:00+00:00    4.349842   1.2550   16.082001   18.379999
2019-09-24 00:00:00+00:00    4.292372   1.2525   14.880667   18.299999
...                               ...      ...         ...         ...
2024-09-16 00:00:00+00:00  116.779999  20.0900  226.779999   98.860001
2024-09-17 00:00:00+00:00  115.589996  20.1600  227.869995   99.769997
2024-09-18 00:00:00+00:00  113.370003  19.6500  227.199997   97.839996
2024-09-19 00:00:00+00:00  117.870003  19.5100  243.919998  102.230003
2024-09-20 00:00:00+00:00  116.000000  21.8500  238.250000  101.290001

[1261 rows x 4 columns]

In [6]:
spy = data[benchmarks]
spy

Ticker                            SPY
Date
2019-09-18 00:00:00+00:00  277.445160
2019-09-19 00:00:00+00:00  277.426636
2019-09-20 00:00:00+00:00  276.115906
2019-09-23 00:00:00+00:00  276.051117
2019-09-24 00:00:00+00:00  273.884949
...                               ...
2024-09-16 00:00:00+00:00  561.118896
2024-09-17 00:00:00+00:00  561.348206
2024-09-18 00:00:00+00:00  559.683350
2024-09-19 00:00:00+00:00  569.234009
2024-09-20 00:00:00+00:00  568.250000

[1261 rows x 1 columns]

Percent Change = (New - Old)/Old * 100

In [7]:
# Adding 'old' category to show a down shift
# Shifting 5 will give a weekly return, Shifting 21 will give a monthly, Shifting 252 will give a yearly. Includes holidays, weekends.
spy['old'] = spy.shift(252)
# Capital SPY is important as that's how strict pandas indexing is
spy['change'] = spy.SPY - spy.old
# Numbers so low because it's a 10% daily change not an 10% annual
spy.change / spy.old

C:\Users\Steven Chu\AppData\Local\Temp\ipykernel_7984\2293659577.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spy['old'] = spy.shift(252)
C:\Users\Steven Chu\AppData\Local\Temp\ipykernel_7984\2293659577.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spy['change'] = spy.SPY - spy.old

Date
2019-09-18 00:00:00+00:00         NaN
2019-09-19 00:00:00+00:00         NaN
2019-09-20 00:00:00+00:00         NaN
2019-09-23 00:00:00+00:00         NaN
2019-09-24 00:00:00+00:00         NaN
                               ...
2024-09-16 00:00:00+00:00    0.267237
2024-09-17 00:00:00+00:00    0.283215
2024-09-18 00:00:00+00:00    0.278659
2024-09-19 00:00:00+00:00    0.303182
2024-09-20 00:00:00+00:00    0.313000
Length: 1261, dtype: float64

In [8]:
#pct_change is a built in function in Python
spy_returns = data[benchmarks].pct_change()
spy_returns.head()

Ticker                          SPY
Date
2019-09-18 00:00:00+00:00       NaN
2019-09-19 00:00:00+00:00 -0.000067
2019-09-20 00:00:00+00:00 -0.004725
2019-09-23 00:00:00+00:00 -0.000235
2019-09-24 00:00:00+00:00 -0.007847

In [9]:
data.pct_change(252).mean()

Ticker
ACLS    0.637866
GME     7.304340
NVDA    1.059897
SPY     0.161336
TSLA    1.153876
dtype: float64

In [10]:
data.pct_change(252).std()

Ticker
ACLS     0.628011
GME     15.263306
NVDA     0.900925
SPY      0.181505
TSLA     2.262161
dtype: float64